html,
body {
   height:100%;
}
#main {
   min-height:100%;
   position:relative;

}
#header {
   
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
@import "bases/main.scss";
@import "components/main.scss";
@import "layout/main.scss";