#banner{
   height: 100px;
   display: none;
   }
#banner .logo{
	background: brow;
	height: 100%;
  position: relative;
}
#banner .image-logo{
  position: absolute;
  @extend %center;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.png);
}
#banner .search{
   padding: 2px;
   height: 100%;
   background: yellow;
   position: relative;
}
#banner .container-search{
  background: brown;
  position: absolute;
  width: 100%;
  @extend %center;
}
#banner .input-search{
  padding: 6px;
  position: relative;
}
#banner .btn-search{
  position: absolute;
	right: 2%;  
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
#banner .group{	
  position: relative;
  height: 100%;
}
#banner .container-group{
  position: absolute;
  @extend %center;
  background: brown;
  
}
#banner .user{
  background: green;
  padding: 10px;
}
#banner .cart{
  background: red;
  padding: 10px;
}
@media (max-width: 768px) {
     #banner{
        display: none;
     }
}