#dropdown{
	#display:none;	
}
#dropdown .t{
	background: green;
}
#dropdown .group{
    height: 100px;
}
#dropdown .menu{
    position: relative;
    background: brown;
	height: 100%;
}
#dropdown .btn-menu{
	position: absolute;
	left:20%;
	bottom: 50%;
}
#dropdown .logo{
	#position: relative;
	height: 100%;
}
#dropdown .img-logo{
    background-image: url(../images/logo.png);
    width: 300px;
    height: 300px;
}
#dropdown .cart{
    position: relative;
	background: yellow;
}
#dropdown .icon-cart{
	position: absolute;
	right: 20%;
	bottom: 50%;
}
#dropdown .consultant{
    text-align: center;
	background: pink;
}
#dropdown .search{
    padding: 0;
	background: yellow;
}
#dropdown .input-search{
	width: 100%;
	position: relative;
}
#dropdown .fa-search{
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
	color: #fbae40;
}