#nav{
    background-color: yellow;
    width: 100%;
}
.main-menu>li{
    float: left;
}
.main-menu>li>a{
    display: inline-block;
    color: red;
    padding: 10px;
}
#nav ul{
    padding:0;
	list-style: none;
}
.main-menu li{
    position: relative;
}
.main-menu .sub-menu{
    background: brown;
    width: 170px;
    z-index: 99;
    position: absolute;
    display: none;
}
.main-menu ul .sub-menu{
    top: 0;
    left: 100%;
}
@media (max-width: 768px) {
     #nav{
        display: none;
     }
     
}